.Characteristics{
margin: 10px;
display: flex;
flex-direction: column;
background-color: #FFECDD;
padding: 20px;
border-radius: 40px;
font-size: 24px;
width: 70vw;
}

.ParentElement{
font-weight: bold;
}

/* .ValueCharacter{
font-size: 24px;
font-weight: 100;
margin-left: 30px;
}

.NameCharacter{
    
} */

.ParentCharacteristic{   
    display: flex;
    flex-direction: row; 
    font-size: 24px;
    font-weight: normal;
    margin-left: 30px;
}
.ElementBody{
    display: flex;
}

.ShowMenu{    
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

.button{
border: none;
background-color: transparent;
color: #427696;
font-size: 30px;
}
.current{
    border-bottom: 4px solid #427696;
}

.ImageElement{
    margin: 10px;
    width: 30vw;
    height: auto;
    object-fit: contain;
    border: 4px solid #427696;
    border-radius: 25px;
}