.Toolbar{
    display: flex;
    /* justify-content:space-around;
    align-items: stretch; */
    background-color: #FFECDD;
    margin: 10px 0px 0px 0px;
    height: 40px;
    width: auto;
    max-width: 60vw;
    padding: 2px;
    border-radius: 120px 0px 0px 120px;
    overflow-x: auto;
    overflow-y: hidden;
}

img {
    height: 100%;
    width: inherit;
    padding: 0px 10px;
    margin: 0;   
    
}
.LayoutCenter{        
    display: flex;
    justify-content: flex-end;
}

button{   
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    height: inherit;
    cursor: pointer;
}
/* .disabled{
    background-color: rgba(25, 236, 221, 0.1);
} */
button:disabled {
    opacity: 0.3;
}