.Toolbar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    /* background-color: #FFECDD; */
    background-color: #EDD5C4;
    bottom: 0px;
    width: 100%;
    padding: 20px 10px;
    border-top: 4px solid #427696;
}

.Toolbar button{
    padding: 5px 10px;
    border: 4px solid #427696;
    border-radius: 100px;
    font-size: 24px;
    color:#427696;
    font-family: 'Alegreya';
}

button{   
    background-color: transparent;
}