.login-wrapper {
    display: flex;
    box-sizing: border-box;
    height: inherit;    
    flex-direction: column;
    align-items: center; 
    font-size: 20px;
    margin: 50px auto 0;
}
button{
    margin: 10px 0px;
    padding: 5px 10px;
    background-color: #427696;
    border-radius: 50px;
    color: #EDD5C4;
    border-color: transparent;
    cursor: pointer;
}
button:hover {
    background: #79A6B1;
  }