.listview{
    display: flex;
  flex-wrap: wrap;
  width: inherit;
  align-content: space-around;
  padding-bottom: 150px;
}
.elementinlist{
    margin: 10px;
    width: 150px;
    height: 200px;
    border: 4px solid #427696;
    background-color: transparent;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;   
    overflow: hidden;
    text-decoration: none;
}
.folderPage{
  height: 100vh;
}
.NoImage{
    color: #427696;
    opacity: 0.5;
    font-size: 30px;
    align-self: center;
    margin-top: -30px;
}

.search{
    border-radius: 50px;
    border: 1px solid #427696;
    background-color: transparent;
    padding: 0px 10px;
    line-height: 1.5;
    outline: none;

    
}
.folderinlist{
    position: relative;
    margin: 10px;
    width: 150px;
    height: 200px;
    border: 4px solid #427696;
    background-color: #427696;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-decoration: none;
}

.NameElementOfList{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    border: 4px solid #427696;
    margin: -4px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 150px;
    height: 50px;
    display: flex;
    background-color: #EDD5C4;
    color: #427696;
    font-size: 24px;
    font-family: 'Alegreya';
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */    
    overflow: hidden;
}

.elementimage{
    width: 105%;
    height: 105%; 
    object-fit: cover;

}