.element{
    background-color: green;;
}
h1{
    text-align: center;
    color: #427696;
}
.BreadCrumbs{
    display: flex;
    width: 30vw;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;    
}
.BreadCrumb{    
    display: inline; 
    color: #427696;     
}
.gt{
    display: inline; 
    padding: 10px 0px 0px 0px; 
}