   .body{    
    height: inherit;   
    display: flex;
    justify-content: center;     
    align-items: center;
  }
  p{
    margin: 0;
  }
  .header {
    font-family: 'Alegreya';
    margin: 5px;
    font-size: 48px; 
    color: #427696;
  }
  .border{    
    border: #427696 4px solid; 
    border-radius: 100px;
    padding: 5px 15px;
  }
  .logo{
    width: 60px;
    height: auto;
  }
  .login-wrapper form{  
    margin: 10px auto 0;
}
  .form-row {
    font-family: 'Alegreya';
    text-align: center;
    padding: 10px;
    font-size: 24px;
  }
  .form-row input[type="text"], .form-row input[type="password"], .form-row textarea {
    width: 30vw;    
    margin: 5px 60px;
    padding: 5px 20px;  
    line-height: 25px;
    outline: none;   
    border: #427696 4px solid;
    border-radius: 100px;
    background-color: transparent;
  }

  input::placeholder {
    color: #427696;
  }
  
  .form-row button{
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    background: #427696;
    font-family: 'Alegreya';
    color: #EDD5C4;
    border-radius: 50px;
    border-width: 0;
    cursor: pointer;
    outline: none;

    text-transform: uppercase;
    transition: 1s cubic-bezier(.165, .84, .44, 1);
  }
  .form-row button:hover {
    background: #79A6B1;
  }
  .RegistrationLink, .ForgotPass{  
    text-decoration: none;
    color: #427696;
  }

  .loginlinks{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
  }


