@font-face {
  font-family: Trajan; /* Гарнитура шрифта */
  src: url('/src/fonts/ofont.ru_Trajan.ttf'); /* Путь к файлу со шрифтом */
 }
* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  overflow: hidden;
  font-family: 'Trajan';
  background-color:  #EDD5C4;
  scroll-behavior: inherit;
  background-image: url('/src/img/logo4x.png');
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
