@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

 html{   
  height: 100%;
  width: 100%;
 }

body {
  font-family: 'Alegreya Sans';
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  background-color:  #EDD5C4;
}
#root{
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
